{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Welcome to GRC System</h1>
    <div class="nav-buttons">
        <a href="{% url 'standards' %}" class="button">Standards</a>
        <a href="{% url 'customers' %}" class="button">Customers</a>
        <a href="/admin" class="button admin-button">Admin Panel</a>
        <a href="{% url 'reports' %}" class="button report-button">Rapor</a>
        <a href="{% url 'form_submission' %}" class="button form-button">Form</a>
        <a href="{% url 'login' %}" class="button login-button">Login</a>
        <a href="{% url 'logout' %}" class="button logout-button">Logout</a>
        <a href="{% url 'register' %}" class="button register-button">Register</a>
        <a href="{% url 'form_standards' %}" class="button form-standards-button">Add Standards</a>
        <a href="{% url 'create_report' %}" class="button create-report-button">Create Report</a>
        <a href="{% url 'view_report' %}" class="button view-report-button">View Report</a>
        <a href="{% url 'users' %}" class="button users">Users List</a>
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
    .container {
        text-align: center;
        margin-top: 50px;
    }
    .nav-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        padding: 15px 30px;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 18px;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #2980b9;
    }
    .admin-button {
        background-color: #2ecc71;
    }
    .admin-button:hover {
        background-color: #27ae60;
    }

    .report-button {
        background-color: #7345ca;
    }
    .report-button:hover {
        background-color: #6832ce;
    }
    .form-button {
        background-color: #e74c3c;
    }
    .form-button:hover {
        background-color: #c0392b;
    }
    .login-button {
        background-color: #f39c12;
    }
    .login-button:hover {
        background-color: #e67e22;
    }
    .logout-button {
        background-color: #e74c3c;
    }
    .logout-button:hover {
        background-color: #c0392b;
    }
    .register-button {
        background-color: #8e44ad;
    }
    .register-button:hover {
        background-color: #7d3c98;
    }
    .form-standards-button {
        background-color: #2980b9;
    }
    .form-standards-button:hover {
        background-color: #2471a3;
    }
    .create-report-button {
        background-color: #16a085;
    }
    .create-report-button:hover {
        background-color: #1abc9c;
    }
    .view-report-button {
        background-color: #f39c12;
    }
    .view-report-button:hover {
        background-color: #e67e22;
    }
    .users {
        background-color: #b34457;
    }
    .users:hover {
        background-color: #b34442;
    }
    
        
</style>
{% endblock %}
