<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for qf in question_forms %}
        <form method = 'post'>
            {% csrf_token %}
            {{ qf.question.text }}    
            {{ qf.form.as_p}}
            <input type = 'hidden' name = 'question_id' value = '{{ qf.question.id}}'>
            <button type = 'submit'>Submit</button>
        </form>
            
    {% endfor %}
</body>
</html>